$background-color: #0f4d7c;
$primary-color: #b89600;
$secondary-color: #3C8DAD;
$tertiary-color: #f3e2d3;
$accent-color: #ca4c4c;

$primary-font: 'Work Sans','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$accent-font: 'Jura', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

