* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0f4d7c;
  font-family: "Comfortaa", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 62.5%;
}

#nav__title {
  font-family: "Audiowide", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ca4c4c;
  font-weight: 700;
  font-size: 2.5rem;
  border: none;
  position: absolute;
  top: 40px;
  left: 100px;
}

#logo {
  -webkit-transform: scaleX(-1) rotateZ(10deg);
          transform: scaleX(-1) rotateZ(10deg);
  margin: 20px 20px 0 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0f4d7c;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6rem;
}

.nav__item {
  color: #b89600;
  font-size: 1.8rem;
  list-style-type: none;
  font-weight: 700;
  gap: 4rem;
  position: relative;
}

.nav__link {
  color: #b89600;
  text-decoration: none;
  font-family: "Audiowide", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
}

.nav__link span {
  color: #b89600;
  font-size: 1.2rem;
}

.nav__link span:hover {
  border-top: 2px solid #ca4c4c;
}

.social-icons {
  margin: .5rem 1rem;
  gap: 1rem;
}

.social-icons i {
  color: #ca4c4c;
}

#dropdownBtn {
  position: relative;
}

.dropdown__list {
  display: none;
  list-style-type: none;
  position: absolute;
  width: 10rem;
  margin-top: 1rem;
  background-color: #3C8DAD;
  border-radius: 0px 10px 10px 10px;
}

.dropdown__item a {
  margin-left: .5rem;
  color: #b89600;
  font-size: 1rem;
  text-decoration: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title {
  font-size: 3rem;
  color: #b89600;
  font-family: 'Work Sans', sans-serif;
  margin: 10rem;
}

.main__title p {
  font-size: 1.4rem;
}

.main__hero {
  height: 500px;
  width: 420px;
  margin: 100px;
  border-radius: 20px;
}

.main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  gap: 4rem;
  margin: 0;
}

.contact {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: "Audiowide", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
}

.contact h3 {
  color: #f3e2d3;
  font-size: 2rem;
  font-family: "Audiowide", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  margin-bottom: 2rem;
}

.contact__form {
  background-color: #3C8DAD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2vw 4vw;
  max-width: 40rem;
  border-radius: 1rem;
}

.contact__form-input {
  border: 0;
  margin: 1rem 0;
  font-family: "Audiowide", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 1rem;
  outline: none;
  background-color: #f3e2d3;
  font-size: 1.2rem;
}

.contact__form-button {
  padding: 1.6rem;
  background: #ca4c4c;
  color: #f3e2d3;
  font-family: "Audiowide", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.8rem;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 15rem;
  margin: 2rem auto 0;
  border-radius: 2.5rem;
}

.contact__form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.contact__form-close {
  font-size: 2rem;
  color: #f3e2d3;
}

.blog {
  width: 90%;
  background-color: #ca4c4c;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 10px 10px 10px;
}

.blog__title {
  font-family: "Audiowide", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.6rem;
  color: #f3e2d3;
  margin: 0 0 1rem .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__post {
  font-family: "Comfortaa", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
  color: #f3e2d3;
  line-height: 1.5;
  margin: 0 0 0 1rem;
}
/*# sourceMappingURL=main.css.map */