<script type="text/javascript" src="scripts/contactForm.js"></script>
<script type="text/javascript" src="scripts/navbar.js"></script>
<script src="https://use.fontawesome.com/c1506d1679.js"></script>
  </body>
</html>