<script type="text/javascript" src="scripts/index.js"></script>
<script type="text/javascript" src="scripts/app.js"></script>
<script src="https://use.fontawesome.com/c1506d1679.js"></script>
  </body>
</html>