<%- include('partials/head') %> 

<%- include('partials/navbar') %> 

<main>
  <article class="blog">
    <div class="blog__title">
      <h3>Learning to Code</h3>
      <p>May 4, 2022</p>
    </div>

    <div class="blog__post">
    <p>Today I am hosting my personal website for the first time on the Internet! I am teaching myself how to create websites using HTML & CSS. I am also heavily studying JavaScript, JQuery, PHP, and MySQL to begin to create compelling web projects that I will deploy to this website on the Projects page. Stay tuned for more content as I continue to learn and practice my coding chops. Please take a moment to reach out to me using the contact form at the top of the page with suggestions or comments. May the 4th be with you!</p>
  </div>
  </article>
</main>

<%- include('partials/contactForm.ejs') %>

<%- include('partials/footer.ejs') %> 