<%- include('partials/head') %>

<%- include('partials/navbar') %>


        <!----------------- MAIN ------------------->
  <main class="main">
    <div class="main__title">
      <h1>Hi, I'm Trey.<br>A Designer.</h1>
      <p>
        I'm also an aspiring front-end developer<br />learning the skills to
        develop amazing web projects!
      </p>
    </div>
    <div>
      <img class="main__hero" src="img/me.jpg" alt="profile picture">
    </div>
    <div>
    
  </main>


<%- include('partials/contactForm') %>

<%- include('partials/footer') %>
